<!-- <nav>
  <a routerLink="/home" routerLinkActive="active">home</a>
  <a routerLink="/about" routerLinkActive="active">about</a>
  <a routerLink="/info" routerLinkActive="active">info</a>
</nav> -->
<div [@routerAnimation]="prepRouteState(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>